<p>about works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <h2>Henry Opara</h2>
        <p>As a Junior Software Engineer, I am a highly motivated individual with a passion for software development and problem-solving. I hold a Bachelor's degree in Computer Science and possess proficiency in programming languages such as Java, Python, and C++. I am familiar with both Agile and Waterfall methodologies and possess experience in coding, testing, and software development.
            I have gained valuable experience as a Software Development Intern where I have assisted senior developers in designing and implementing new software features. I have conducted code reviews and testing to ensure software quality and have participated in team meetings and contributed to project planning. I possess experience in developing web applications, contributing to open-source libraries, and creating simulation programs using C++.
            I am an Oracle Certified Associate, Java SE 8 Programmer, and possess knowledge of tools such as Git, Jira, and Visual Studio Code. In addition, I am proficient in operating systems such as Windows, Linux, and MacOS and possess knowledge of databases such as MySQL and Oracle.
            I am an individual who is passionate about staying up-to-date with industry trends, participating in coding challenges and hackathons, and exploring new technologies. I am a team player who possesses excellent communication skills and has the ability to work well under pressure.
            </p>

            <h3>Qualifications</h3>
        <ul>
            <li>Resource Solutions - Accelerate Academy 2021</li>
            <ul>
                <li>All grade C include Maths, Business Studies, Double Science and Music</li>
            </ul>
            <br>
            <li>Redbridge College, Essex 2001 to 2004</li>
            <ul>
                <li>Sports and Exercise Science - National Diploma, Merit/Pass</li>
            </ul>
            <br>
            <li>Birmingham City University 2004 to 2007</li>
            <ul>
                <li>BSc (Hons) Engineering Product Design - 2.1</li>
            </ul>
        </ul>
    </main>
    <hr>
    <footer>
        <address> xander talent <br>
          17 bevaks marks <br>
          London <br>
          +44 2084243543 </address>
           
      <ul>
        <li>henry.opara@example.com</li>
        <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      </ul>
    
    <small>Disclaimer: This is for illustration purposes only blah blah blah
    It first appeared in #30DaysOfHTML by Jen Kramer and Erika Lee in 2021.</small>
    </footer>
</body>
</html>
