<p>index works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    
        <nav>
            <ul>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
    
    <hr>
    <main>
        <div class="callout" style="background:red;">
            <div class="callout-header">Premier League</div>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <div class="callout-container">
                <p>Football news of the week</p>
                <a href="./about.html">Learn about me</a>
                </div>
          </div>
        <section>
            <article>
                <div>
                    <div>
                        <h2>Patrick Vieira: Crystal Palace sack manager but was it the right call?</h2>
                    </div>
                    <div>
                        <span><b>Author: </b></span><span>Henry Opara</span> 
                    </div>
                    <div>
                        <span><b>Date: </b></span><span>Friday 17 March 2023 11:44, UK</span>
                    </div>
                <figure><img src="assets\images\skysports-patrick-vieira-crystal-palace_6090722.jpg" width="500" height="300" alt="Patrick Viera">
                    <figcaption>Patrick Viera has been sacked</figcaption>
                </figure>
                <p>Patrick Vieira replaced Roy Hodgson as Crystal Palace manager in the summer of 2021 and guided them to 12th in the Premier League last season; Palace yet to win a game in 2023</p>
        
            </div>
            <hr>
            </article>
            <article>
                <div>
                    <div>
                        <h2>Pep Guardiola 'convinced' Vincent Kompany will be Man City manager one day ahead of FA Cup quarter-final meeting</h2>
                    </div>
                    <div>
                        <span><b>Author: </b></span><span>Henry Opara</span> 
                    </div>
                    <div>
                        <span><b>Date: </b></span><span>Tuesday 16 March 2023 12:09, UK</span>
                    </div>
                <figure><img src="assets\images\skysports-vincent-kompany-pep-guardiola_6091666.jpg" width="500" height="300" alt="Vincent Kompany sat with Pep">
                    <figcaption>Kompany will manage city</figcaption>
                </figure>
                
                <p>Pep Guardiola on Burnley manager Vincent Kompany's future return to Manchester City: "Maybe he doesn't agree with me, but having seen his teams I'm more than convinced today he's going to come back... It's going to happen"; Man City host Burnley in FA Cup quarter-finals on Saturday</p>
            </div>
            <hr>
            </article>
            <article>
                <div>
                    <div>
                        <h2>Champions League quarter-final draw: Chelsea drawn with Real Madrid while Manchester City to face Bayern Munich</h2>
                    </div>
                    <div>
                        <span><b>Author: </b></span><span>Henry Opara</span> 
                    </div>
                    <div>
                        <span><b>Date: </b></span><span>Monday 15 March 2023 12:33, UK</span>
                    </div>
                <figure><img src="assets\images\skysports-chelsea-real-madrid_5731349.jpg" width="500" height="300" alt="real madrid vs chelsea from last year's knock out stages">
                    <figcaption>Champions league draw</figcaption>
                </figure>
                
                <p>Real Madrid vs Chelsea, Man City vs Bayern, AC Milan vs Napoli and Benfica vs Inter Milan; Chelsea and Man City will play each other in the semi-finals should they both win their quarter-final ties; the first legs will be played on April 11/12, with the return fixtures on April 18/19</p>
            </div>
            
            </article>
        </section>
    </main>
    <hr>
    <footer>
        <address> xander talent <br>
          17 bevaks marks <br>
          London <br>
          +44 2084243543 </address>
           
      <ul>
        <li>henry.opara@example.com</li>
        <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      </ul>
    
    <small>Disclaimer: This is for illustration purposes only blah blah blah
    It first appeared in #30DaysOfHTML by Jen Kramer and Erika Lee in 2021.</small>
    </footer>
    
</body>
</html>
